<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Training</title>
    </head>
    <body>
    <div>
        <ul>
            <li>Attendees : <a href="attendees" target="_blank">{{ Attendees }}</a></li>
            <li>Events : <a href="events" target="_blank">{{ Events }}</a></li>
            <li>Formations : <a href="formations" target="_blank">{{ Formations }}</a></li>
        </ul>
    </div>
    </body>
</html>
